<h2>Cargar Proyectos</h2>
<div class="container" *ngIf="proyectos">
     <div class="row">
         <div>
             <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                 <div class="form-group">
                     <label for="nombre">Nombre de Proyecto</label>
                     <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyectos.nombre" required>
                 </div>
                 <div class="form-group">
                     <label for="porcentaje">Descripción del Proyecto</label>
                     <input type="text" class="form-control" id="descripción" name="descripcion" [(ngModel)]="proyectos.descripcion" required>
                 </div>
                 <div class="form-group">
                    <label for="img">Imágen de Proyecto</label>
                    <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)" accept=".png, .jpeg, .jpg" required>
               </div>
               <div class="imagen">
                    <img [src]="imageService.url" width="250px">
               </div>
               <br>
                 <button class="btn btn-success">
                     Actualizar
                 </button>
             </form>
         </div>
     </div>
 </div>