<div class="row">
     <h2>Proyectos Realizados</h2>
     <div class="contenedor">
          <div class="col-sm-12 col-md-7 col-lg-7 part1">
               <h3>Grafico Tarta</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magnam voluptatibus est laborum possimus illum, provident laboriosam? Beatae, vero harum? Rerum magnam voluptatibus, consectetur quos architecto incidunt qui obcaecati ex!</p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1  offset-lg-1 part2">
               <img src="../../../assets/Grafico Tarta.PNG" class="img-fluid img-proyecto">
          </div>
     </div>

</div>