<div>
    <button type="button" class="btn btn-outline-success" routerLink="/newProyecto/1" *ngIf="isLogged">
        Editar Proyecto
    </button>
</div>

<div class="row" *ngIf="Proyectos">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{Proyectos.img}}" class="img-fluid" id="fotoProyecto">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{Proyectos.nombre}} </p>
        <p>Desarrollador Full Stack </p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Descripción</h1>
            <p>{{Proyectos.descripcion}}</p>
        </span>
    </div>
</div>